/* CSS existente */
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin:10%;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background: #fff; /* Cor de fundo para fins de visualização */
  }

/*caixa de login*/
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    visibility: hidden;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box p{
    color:#000;
    text-align: center;
  }


/*caixa de registo*/
.registo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    visibility: hidden;
  }
  
  .registo-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000;
    text-align: center;
  }
  
  .registo-box .user-box {
    position: relative;
  }
  
  .registo-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
  }
  .registo-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
  }
  
  .registo-box .user-box input:focus ~ label,
  .registo-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #333;
    font-size: 12px;
  }
  
  .registo-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .registo-box p{
    color:#000;
    text-align: center;
  }



.container{
    background-color: #F8F8FF;
    width:25%;
    float: left;
    margin:0.5%;
    margin-left: 5%;
    margin-right: 2.5%;
    border-radius:4%;
    border: 1px solid #000; 
}
.imagem {
    display: block;
    margin: 0 auto; /* Isso centraliza horizontalmente */
    width: 95%;
    margin-top: 3%;
    border-radius: 4px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    max-height: 100%;
  }
  

.borda{
  color: #000;
  text-align: center;
}

h1{
  margin-left: 5.2%;
}
