/* Estilização do contêiner principal */
body{
    margin:10%;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilização do contêiner de selects */
  .select-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .label-select-container {
    flex: 1;
    margin-right: 10px;
  }
  
  .label-select-container:last-child {
    margin-right: 0;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  select {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: border-color 0.3s ease;
    float: center;
  }
  
  select:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Estilização da lista de obras */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    margin-top: 2%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
  }
  
  li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li strong {
    display: block;
    font-size: 18px;
    color: #333;
  }
  
  li span {
    color: #555;
    font-size: 14px;
  }
  