* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-box,
.register-box,
.form-container {
  margin-top: 20%;
  margin-left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2,
.register-box h2,
.form-container h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
}

.user-box,
.form-container label {
  position: relative;
}

.user-box input,
.form-container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.user-box label,
.form-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label,
.form-container input:focus ~ label,
.form-container input:valid ~ label {
  top: -20px;
  left: 0;
  color: #333;
  font-size: 12px;
}

.login-box p,
.register-box p {
  color: #000;
  text-align: center;
  cursor: pointer;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #555;
}

.form-container.logged-in {
  margin-top: 10%;
  margin-left: 50%;
  width: 4000px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.form-container.logged-in h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
}

.form-container.logged-in label {
  position: relative;
}

.form-container.logged-in input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}

.form-container.logged-in label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: 0.5s;
}

.form-container.logged-in input:focus ~ label,
.form-container.logged-in input:valid ~ label {
  top: -20px;
  left: 0;
  color: #333;
  font-size: 12px;
}

.form-container.logged-in button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
}

.form-container.logged-in button:hover {
  background: #555;
}
